---
layout: default
---
  <script type="text/javascript">
    $(document).ready(function() {
      $('#fullpage').fullpage({
        verticalCentered: true,
        css: true,
        anchors: ['listen', 'playlist']
      });
      $('.flowtype').flowtype({
        fontRatio : 7
      });
    });
  </script>
<div class="home">
  <ul class="post-list">  
    <div id="fullpage">
      <div class="section" id="section0" data-anchor="listen">
        <div class="flowtype">
          <h1><a href="#playlist">LISTEN</a></h1>          
        </div>
      </div>
      <div class="section" id="section1" data-anchor="playlist">
        <div class="center half">
          <div class="left cf">
            <div class="iframe-wrapper">
              {% for post in site.posts limit:1 %}
                {% include soundcloud_single.html track_id=post.track_id %}   
              {% endfor %}
            </div>
          </div>
          <div class="right cf">
            <div class="post-wrapper">
              {% for post in site.posts limit:1 %}
                {{post.content}}   
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
  </div>
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
